div.inscription{
	width: 530px;
	height:  250px;
	margin-top: 7vh;

  	display: flex;
  	flex-direction: column;
  	align-items: center;

  	background-color: linear-gradient(102.89deg, rgba(28, 72, 125, 0.1) 13.09%, rgba(28, 70, 122, 0.1) 93.42%);
	box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(6px);
	border-radius: 25px;
}
div.inscription h2{
	z-index: 10;
	padding-top: 15px;
	padding-bottom: 10px;
}
div.inscription p.errror{
	font-size: 10px;
	font-weight: 800;
	color: red;
}
div.inscription div.overlay{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('bg.png');
	mix-blend-mode: overlay;
}
form.inscription{
	z-index: 10;
	height: 100%;
	width: 100%;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
form.inscription input, form.inscription div.username div.sexe{
	font-size: 12px;
	width: 35%;
	height: 30px;
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.1);
	outline: none;
	border-radius: 6px;
}
form.inscription div.username div.sexe{
	background: none;
	float: left;
}
form.inscription div.username div.sexe span{
	display: flex;
	align-items: center;
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0.1);
	mix-blend-mode: overlay;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	font-size: 10px;
}
form.inscription div.username div.sexe span.clicked{
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25);
	mix-blend-mode: overlay;
}
form.inscription div.username div.sexe span:nth-child(1){
	cursor: text;
	align-items: center;
	display: flex;
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 6px;
	padding-right: 12px;
	padding-left: 12px;
}

form.inscription div.username{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
form.inscription div.username div.sexe{
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}
form.inscription div.password{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
form.inscription input{
	font-size: 10px;
	color: #FFF;
	padding-left: 15px;
}
form.inscription input::placeholder{
	color: #FFF;
}
form.inscription button{
	background: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	height: 35px;
	width:  30%;
	border-radius: 25px;
	text-align: center;
	border: none;
	cursor: pointer;
}