div.inscription{
	width: 90%;
	height:  50%;
	margin-top: 7vh;

  	display: flex;
  	flex-direction: column;
  	text-align: center;

  	background-color: linear-gradient(102.89deg, rgba(28, 72, 125, 0.1) 13.09%, rgba(28, 70, 122, 0.1) 93.42%);
	box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(0.5em);
	border-radius: 1em;
	padding: 1em;
}
div.inscription h2{
	padding-top: 2vh;
	padding-bottom: 2vh;
}
div.inscription p.error{
	font-size: 0.6em;
	font-weight: 800;
	color: red;
}
div.inscription div.overlay{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('bg.png');
	mix-blend-mode: overlay;
}
form.inscription{
	height: 100%;
	width: 100%;
	padding-bottom: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.inscription div.username, .inscription div.password{
	vertical-align: center;
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: space-around;
}
form.inscription input, form.inscription div.username div.sexe{
	width: 35%;
	height: 50%;
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.1);
	outline: none;
	border-radius: 0.5em;
}
form.inscription div.username div.sexe{
	background: none;
	float: left;
}
form.inscription div.username div.sexe span{
	display: flex;
	align-items: center;
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0.1);
	mix-blend-mode: overlay;
	border-radius: 1em;
	padding-left: 1vw;
	padding-right: 1vw;
	cursor: pointer;
	font-size: 0.6em;
}
form.inscription div.username div.sexe span.clicked{
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25);
	mix-blend-mode: overlay;
}
form.inscription div.username div.sexe span:nth-child(1){
	cursor: text;
	align-items: center;
	display: flex;
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.5em;
	padding-right: 2vw;
	padding-left: 2vw;
}

form.inscription div.username div.sexe{
	display: flex;
	justify-content: space-between;
	padding-right: 2vw;
}
form.inscription div.password{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
form.inscription input{
	font-size: 0.6em;
	color: #FFF;
	padding-left: 1.5vw;
}
form.inscription input::placeholder{
	color: #FFF;
}
form.inscription button{
	background: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	height: 20%;
	width:  30%;
	border-radius: 25px;
	text-align: center;
	border: none;
	cursor: pointer;
}