.chatbox{
	width: 100%;
	height: 520px;
	overflow-y: hidden;
	background: linear-gradient(102.89deg, rgba(45, 43, 82, 0.1) 13.09%, rgba(45, 43, 82, 0.1) 93.42%);
	box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 30px;	
}

.chatbox .overlay{
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: url('bg.png');
	mix-blend-mode: overlay;
	border-radius: 30px;
}
.chatbox .messages{
	margin-left: 3vw;
	padding-top: 4vh;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}