.chatbox{
	width: 100%;
	height: 520px;
	overflow-y: hidden;
	background: linear-gradient(102.89deg, rgba(45, 43, 82, 0.1) 13.09%, rgba(45, 43, 82, 0.1) 93.42%);
	box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 30px;
}
.chatbox .messages{
	z-index: 1000;
	margin-left: 3vw;
	padding-top: 4vh;
	width: 80%;
	height: 75%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
.chatbox .messages.notConnected{
	height: 90%;
}
.chatbox .messages::-webkit-scrollbar {
  display: none;
}
.chatbox form.send{
	z-index: 1000;
	width: 80%;
	height: 25%;
	margin-top: 3vh;
	margin-left: 3vw;
	display: flex;
	justify-content: center;
}
.chatbox form.send div{
	position: relative;
	height: 100%;
}
.chatbox form.send textarea{
	height: 6vh;
	width: 25vw;
	border-radius: 6px;
	border-color: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.3);
	outline: none;
	margin: 0;
	padding-top: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;
	color: #FFF;
}
.chatbox form.send textarea::-webkit-scrollbar {
  display: none;
}
.chatbox form.send textarea::placeholder{
	color: #FFF;
}
.chatbox form.send button{
	background-color:  rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
}
.chatbox form.send button img{
	position: relative;
	margin-left: 0.7vw;
	padding: 0.7em;
	border-radius: 12px;
	margin-bottom: 0.5vh;
	background-color: rgba(255, 255, 255, 0.3);
}
.chatbox form.send p{
	position: absolute;
	right: 0;
	font-size: 10px;
    margin-right: 5vw; 
    margin-top: 0.5vh;
}
.chatbox .overlay{
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: url('bg.png');
	mix-blend-mode: overlay;
	border-radius: 30px;
}